@import "../../assets/styles/index.scss";
.dashboard-wrap {
  width: 100%;
  .dashboard-header {
    width: 94%;
    height: 75px;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 30%;
      margin-top: 16px;
      height: 59px;
      .announcement {
        padding-right: 10px;
      }
    }
    .right {
      width: 70%;
      margin-top: 16px;
      height: 59px;
      display: flex;
      justify-content: space-between;
      .changelog {
        padding-left: 24px;
        border-left: 1px solid #1a2332;
      }
    }
    .header-item {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 14px;
        letter-spacing: 1.2px;
        font-weight: 500;
        color: $COMMON_FONT_COLOR;
      }
      .link-box {
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0.2px;
        font-size: 15px;
        font-weight: 400;
        color: $LIGHT_FONT_COLOR;
      }
      .link-box:hover {
        color: $SPECIAL_FONT_COLOR;
      }
    }
  }
  .dashboard-content {
    width: 94%;
    height: 730px;
    display: flex;
    flex-direction: column;
    margin: 15px 3% 0 3%;
    .top-content {
      display: flex;
      width: 100%;
      height: 300px;
      .carousel-wrap {
        width: 520px;
        height: 300px;
        border-radius: 12px;
        .arco-carousel-indicator-wrapper {
          border-radius: 12px;
          .arco-carousel-indicator-item {
            background: $COMMON_FONT_COLOR;
          }
          .arco-carousel-indicator-item-active {
            background: $LIGHT_FONT_COLOR;
          }
        }
      }
      .userInfo-wrap {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 3fr 1fr 2fr;
        flex: 1 0;
        margin-left: 25px;
        height: 300px;
        border-radius: 12px;
        background: $HEADER_COLOR;
        .icon-wrap {
          display: flex;
          padding: 20px;
          width: 100%;
          height: 100%;
          align-items: center;
          .icon-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background: url("https://app.hackthebox.com/images/badges/badgesbg.svg")
              no-repeat 100% 100%;
            .icon {
              width: 30px;
              height: 30px;
              background: url("https://app.hackthebox.com/images/badges/badge-noob.svg")
                no-repeat 100% 100%;
            }
          }
          .icon-msg {
            margin-left: 10px;
            flex: 1;
            .title {
              font-size: 15px;
              font-weight: 500;
              color: $LIGHT_FONT_COLOR;
            }
            .divide {
              width: 160px;
              height: 6px;
              background: $SPECIAL_FONT_COLOR;
              margin: 16px 0;
              border-radius: 5px;
            }
            .rank {
              letter-spacing: 1.2px;
              font-weight: 500;
              font-size: 12px;
              color: $COMMON_FONT_COLOR;
              .special {
                color: $SPECIAL_FONT_COLOR;
              }
            }
          }
        }
        .userInfo-item2 {
          grid-column: 2/3;
          grid-row: 1/3;
          border-left: 1px solid $BACKUP_COLOR;
          border-bottom: 1px solid $BACKUP_COLOR;
        }
        .rank-up-wrap{
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          color: $COMMON_FONT_COLOR;
          .rank-up{
            font-weight: 500;
            color: $SPECIAL_FONT_COLOR;
          }
          .rank-up-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba($color: $SPECIAL_FONT_COLOR, $alpha: 0.5) ;
          }
        }
        .userInfo-item5 {
          border-left: 1px solid $BACKUP_COLOR;
          .user-state {
            width: 100%;
            height: 100%;
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .plan-wrap {
              width: 40px;
              height: 40px;
              margin: 8px 0 0 16px;
              .plan {
                width: 40px;
                height: 18px;
                line-height: 18px;
                color: $COMMON_FONT_COLOR;
                letter-spacing: 1.5px;
              }
              .state {
                width: 40px;
                height: 22px;
                line-height: 22px;
                color: $LIGHT_FONT_COLOR;
                font-weight: 500;
              }
            }
            .vip {
              cursor: pointer;
              font-size: 12px;
              width: 80px;
              height: 26px;
              line-height: 26px;
              color: $SPECIAL_FONT_COLOR;
            }
          }
        }
      }
    }
    @media screen and (min-width: 1800px) {
      .top-content {
        height: 375px;
        .carousel-wrap {
          width: 668px;
          height: 375px;
        }
        .userInfo-wrap {
          height: 375px;
        }
      }
    }
    .bottom-content {
      width: 100%;
      margin-top: 15px;
      height: 430px;
      .arco-tabs-header-wrapper {
        border-bottom: 1px solid #1a2332;
        .arco-tabs-header-title {
          letter-spacing: 2px;
          padding: 10px 0;
          color: $COMMON_FONT_COLOR;
        }
        .arco-tabs-header-title-active {
          color: $LIGHT_FONT_COLOR;
        }
        .arco-tabs-header-ink {
          background-color: $SPECIAL_FONT_COLOR;
        }
      }
    }
  }
}
