@import "../../assets/styles/index.scss";
.home-wrap {
  .layout-collapse {
    .arco-layout-header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: $HEADER_COLOR;
      .header-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          line-height: 62px;
          color: #fff;
          font-size: 24px;
          padding-left: 10px;
          margin-left: 5px;
        }
        .header-dropdown{
          margin-right: 20px;
          background: $HEADER_COLOR!important;
          .arco-btn {
            border: 1px solid $HEADER_COLOR;
            background: $HEADER_COLOR;
          }
        }
      }
    }
    .arco-layout-sider {
      width: 200px;
      position: fixed;
      height: 100%;
      top: 62px;
      left: 0;
      z-index: 99;
      background-color: $MENU_COLOR;
      .arco-menu {
        background-color: $MENU_COLOR;
        .arco-menu-item {
          background-color: $MENU_COLOR;
          padding: 6px 12px;
        }
        .arco-menu-selected {
          color: $SPECIAL_FONT_COLOR !important;
          background-color: $MENU_FOCUS_COLOR;
        }
      }
    }
    .arco-layout-content {
      margin: 62px 0 0 200px;
      background-color: $BACKUP_COLOR;
    }
  }
}
