@import "../../assets/styles/index.scss";
.home-wrap {
  .layout-collapse {
    .arco-layout-header {
      background-color: $HEADER_COLOR;
      .logo {
        line-height: 62px;
        color: #fff;
        font-size: 24px;
        padding-left: 10px;
        margin-left: 5px;
      }
    }
    .arco-layout-sider {
      background-color: $MENU_COLOR;
      .arco-menu {
        background-color: $MENU_COLOR;
        .arco-menu-item {
          background-color: $MENU_COLOR;
        }
        .arco-menu-selected {
          color: $SPECIAL_FONT_COLOR !important;
          background-color: $MENU_FOCUS_COLOR;
        }
      }
    }
    .arco-layout-content {
      background-color: $BACKUP_COLOR;
    }
  }
}
