@import "../../assets/styles/index.scss";
.home-wrap {
  .layout-collapse {
    .arco-layout-header {
      background-color: $HEADER_COLOR;
      .logo {
        line-height: 62px;
        color: #fff;
        font-size: 24px;
        padding-left: 10px;
        margin-left: 5px;
      }
    }
  }
}
