@import "../../assets/styles/index.scss";
.article-card-wrap {
  width: 778px;
  height: 175px;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: $BACKUP_COLOR;
  .img-wrap {
    width: 30%;
    height: 120px;
    .img {
      width: 100%;
      height: 120px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      box-shadow: rgb(0 0 0/ 24%) 0px 12px 15px 0px,
        rgb(0 0 0 / 19%) 0px 17px 50px 0px !important;
    }
  }

  .article-msg {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 30px;
    .article-title {
      font-size: 20px;
    }
    .author {
      color: rgba($color: #fff, $alpha: 0.85);
    }
    .date {
      color: rgba($color: #fff, $alpha: 0.85);
    }
  }
  .operate {
    margin-left: 80px;
    height: 120px;
    font-size: 16px;
    line-height: 180px;
    color: $SPECIAL_FONT_COLOR;
  }
}
