@import "../.../../../assets/styles/index.scss";
.dashboard-card-wrap {
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  background: $MENU_FOCUS_COLOR;
  cursor: pointer;
  .card-img {
    width: 132px;
    height: 132px;
    margin: -5px 0 10px 0;
  }
  .card-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: $LIGHT_FONT_COLOR;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card-msg {
    width: 100%;
    text-align: center;
    font-weight: 400px;
    font-size: 13px;
    padding: 16px 24px 0px 24px;
    color: $COMMON_FONT_COLOR;
  }
}
.dashboard-card-wrap:hover {
  transform: scale(1.07);
}
@media screen and (min-width: 1800px) {
  .dashboard-card-wrap {
    width: 280px;
    height: 330px;
  }
}
@media screen and (min-width: 2400px) {
  .dashboard-card-wrap {
    width: 300px;
    height: 380px;
  }
}
