@import "./assets/styles/index.scss";
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
//因为pop弹窗直接挂在root下所以样式修改要单独出来
.arco-popover-content, .arco-popconfirm-content {
  background-color: $BACKUP_COLOR;
  border: none;
  .arco-btn-primary:not(.arco-btn-disabled){
    background-color: $SPECIAL_FONT_COLOR !important;
  }
}
.arco-message arco-message-info{
  color: $SPECIAL_FONT_COLOR;
}
